@import "tailwindcss";

@theme {
    --color-primary: #5687BB;
    --color-primary-border: #5687BB 2px;
    --color-primary-hover: #007BA7;
    --color-primary-active: #0A4A61;
    --color-primary-disable: #E0E0E0;
    --color-primary-disable-border: #C7C5C5;

    --color-secondary: #5687BB1F;
    --color-secondary-border: #5687BB;
    --color-secondary-hover: #007BA729;
    --color-secondary-hover-border: #007BA7 2px;
    --color-secondary-active: #0A4A6129;
    --color-secondary-active-border: #0A4A61 2px;
    --color-secondary-disable: #E0E0E029;
    --color-secondary-disable-border: #C7C5C5 2px;


    --color-selective: #7E9E7F;
    --color-selective-border: #3DC13C 2px;
    --color-selective-hover: #65A266;
    --color-selective-active: #6F9870;
    --color-selective-disable: #E0E0E0;
    --color-selective-disable-border: #C7C5C5 2px;


    --color-white-background: #FFFFFF;
    --shadow-3xl-white-background: 0px 0px 40px rgba(86, 135, 187, 0.24);
    --color-blue-background: #5687BBF2;
    --color-auth-background: #D5E7FB;
    --color-white-500: #E6E6F8;

    --color-blue: #5687BB;
    --color-white: #F0F4F3;
    --color-light-blue: #D5E7FB;

    --color-white-text: #F0F4F3;
    --color-blue-text: #5687BB;

    --color-input-background: #FAFAFA;
    --color-input-border: #D1D1D1;
    --color-input-border-error: #EB5757;
    --color-input-border-active: #5687BB;
    --color-input-text: #040405;

    --color-success-text: #27AE60;
    --color-success-secondary: #1DCB8C;
    --color-black-text: #040405;

    --color-error-text: #EB5757;
    --color-warning-text: #E2B93B;
    --text-title: 28px;
    --text-paragraph-xl: 18px;
    --text-paragraph-lg: 16px;
    --text-paragraph-sm: 12px;
    --text-paragraph-xs: 10px;
    --shadow-3xl: 10px 10px 6px rgba(0, 0, 0, 0.25);

}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    color:#040405
}


p, span, input, button, label {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}